[alias]
        c = checkout
        cc = checkout --
        cb = checkout -b
        pu = pull upstream
        pfo = push -f origin
        rv = remote -v
        aa = add .
        cm = commit -m
        cmd = commit --amend
        cmdn = commit --amend --no-edit
        ffp = flow feature publish
        fhp = flow hotfix publish
        br = branch
        brd = branch -D
        brm = branch -m
        s = status
        l = log
        cpk = cherry-pick
        cpkc = cherry-pick --continue
        cpka = cherry-pick --abort
        rb = rebase
        rba = rebase --abort
        rbc = rebase --continue
        lg = log --graph --oneline
        st = stash
        stp = stash pop
        stl = stash list
        sh = show
        df = diff
        df1 = diff HEAD~1
